// Variables START
$offWhite: #f5f5f5;
$offBlack: #111111;
$offWhite2: #c9c9c9;
$grey: grey;
// Variables END

@font-face {
    font-family: titleFont;
    src: url(../font/TT\ Ramillas\ Initials\ Trial\ Bold.ttf);
  }


.openingBackGround{
    background-color: $offWhite;
}


// START FOR NAVBAR
.navbarProp{
    background-color: $offBlack;
    height: max(80%, 140px);
    text-align: center;
    vertical-align: bottom;
}
.navbarButton{
    color: $offWhite;
    font-size: max(5vw, 74px);
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 25px;
}
.navbar-dark{
    background-color: $offBlack!important;
}
.darky{
    background-color: $offBlack!important;
}
.rightNavButton{
    float: left;
}
.navbar-toggler{
    width: 75px;
    height: 75px;
    outline: none;
    border: none;
    margin: 25px;
    color: $offWhite;
    font-size: 50px;
}

// END OF NAVBAR



// START FOR NO SCROLL
.noScroll{
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.noScroll::-webkit-scrollbar {
display: none;
}
// END OF NO SCROLL



// FOR FOOTER ACROSS ALL PAGES START
.footer{
    background-color: #111111;
    left: 0;
    bottom: 0;
    width: 100%;
}       
#footerspace{
    height: max(3.5vw, 50px);
    
}
.footerIcons{
    height: max(1.5vw, 30px);
    width: max(1.5vw, 30px);
}
.iconSpacingFooter{
    padding-left: .25vw;
    padding-right: .25vw;
}
.footerOption{
font-family: acier-bat-solid, sans-serif;
font-weight: 400;
font-style: normal;
background-color: #111111;
}
.footerOptionText{
text-decoration: none;
color: grey;
text-underline-offset: var(--offset, 0.2em);
transition: --offset 800ms, text-decoration-color 800ms;
padding-left: 1vw;
padding-right: 1vw;
font-size: max(1vw, 15px);
background-color: #111111;
}
.footerOptionText:hover{
text-decoration: none;
text-decoration: underline;
color: grey;
}
.footerOptionText:link {
color: grey;
background-color: transparent;
text-decoration: none;
}
.footerOptionText:visited {
color: grey;
background-color: transparent;
text-decoration: none;
}
.footerOptionText:active {
color: grey;
background-color: transparent;
text-decoration: underline;
}
.footerOptionText:hover{
.footerOptionText:focus{
--offset: 0.4em;
text-decoration-color: white;
}
}
.footerOptionText:hover{
.footerOptionText:focus {
text-underline-offset: 0.4em;
}
}
.footerOptionList{
height: max(65%, 130px);
}
// END OF FOOTER 



// SECOND NAVBAR WITH OPTIONS START
.secondNav{
background-color: #111111;
height: max(3vw, 60px);
}
.secondNavTxt{
color: $offWhite;
// font-family: articulat-cf, sans-serif;
font-family: titleFont;
font-style: italic;
font-weight: 100;
font-size: max(1.75vw, 33px);
padding-left: 30px;
padding-right: 30px;
transition: 0.5s;
}
.secondNavInside{
    padding-right: min(4.5vw, 140px);
}
.secondNavTxt:hover{
text-decoration: none;
color: #D72539;
}

// END OF SECOND NAVBAR WITH OPTIONS START



// MAIN SCREEN START
.mainIMG{
height: max(43vw, 500px);
float: right;
}

.openingText{
// font-style: normal;
font-weight: 300;
font-family: 'Playfair Display', serif;
font-style: italic;
color: #D72539;
font-size: max(7.5vw, 40px);
z-index: 4;
text-decoration: none!important;
}

// END OF MAIN SCREEN



// Home Screen Icons START
.homePhotos{
background-color: #ffc823;
--bs-gutter-x: 0rem!important;
}
.boxContainer{
    background-color: #111111;
    border-radius: 25px;
}
.iconsHeadingText{
color: white;
text-align: center;
font-family: titleFont;
font-style: normal;
font-weight: 400;
font-size: max(7vw, 40px);
bottom: 0;
}

.bottomText{
text-align: center; 
color: $offWhite2;
font-size: max(1vw, 20px);
font-family: depot-new-web;
font-weight: 100;
font-style: normal;
transition: 0.3s;
text-decoration: none;
}
.bottomText:hover{
    font-size: max(1.1vw, 23px);
}

.bottomTextKeepUp{
    height: max(3vw, 50px);
    background-color: $offBlack;
}
// Home Screen Icons END



// JOB EXP. START
.workExpHeadingText{
color: $offWhite;
text-align: center;
font-family: 'Playfair Display', serif;
font-style: italic;
font-weight: 700;
font-size: max(7vw, 35px);
bottom: 0;
}
.workExpBody{
height: max(44vw, 600px);
background-color: #D72539;
--bs-gutter-x: 0rem;
}
.workNameTitle{
font-family: articulat-cf, sans-serif;
font-style: normal;
color: black;
font-size: max(2vw, 12px);
float: right;
}
.workNameTitle2{
    font-family: articulat-cf, sans-serif;
font-style: normal;
color: grey;
font-size: max(1vw, 12px);
float: right;
}
.workbodyText{
    font-family: depot-new-web, sans-serif; 
    font-weight: 400; 
color: $offWhite;
opacity: 80%;
font-size: max(1.6vw, 22px);
}
.companyLogo1{
    height: max(8.5vw, 100px);
    width: max(19vw, 240px);
    position: absolute;
}



// END OF WORK EXP.

// Contact Information

.contactTitle{
font-size: max(4.25vw, 40px);
// font-family: acier-bat-solid, sans-serif;
font-family: 'Playfair Display', serif;
color: #D72539;
font-style: italic;
}
.emailTitle{
    font-size: max(2vw, 25px);
    font-family: titlefont;
    color: #111111;
}
.emailAddress{
    font-size: max(1.7vw, 23px);
    font-family: depot-new-web; 
    color: $offWhite;
    transition: 0.3s;
}
.emailAddress:hover{
    color: #D72539;
    text-decoration: underline;

}

a:hover{
    text-decoration: none;
}
a:visited{
    text-decoration: none;    
}
a:link{
    text-decoration: none;
}
.contactSocial{
    height: max(2vw, 30px);
    width: max(2vw, 30px);
    transition: 0.3s;
}
.contactSocial:hover{
    height: max(2.2vw, 35px);
    width: max(2.2vw, 35px);
}

#leftsocial{
    float: right;
}
.WrapperIcon{
    padding-top: 4.25vw;
}

.contactBody{
    background-color: #FFC823;;
    --bs-gutter-x: 0rem;
}
.dropdownBodySides{
    background: rgb(255,200,35);
}

#pageOverlay{
position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111; /* Black background with opacity */
  z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.customViewSmall{
    height: 700px;
}
.customViewSmallHeader{
    color:#ffc823;
    font-family: titleFont;
    font-size: 120px;
}
.customViewSmallText{
    color: $offWhite;
    font-family: 'Playfair Display', serif;
}

// 
.custom-shape-divider-top-1678573172 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1678573172 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 153px;
}

.custom-shape-divider-top-1678573172 .shape-fill {
    fill: #FFC823;
}
.extraCurve{
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

// 
.custom-shape-divider-top-1678574792 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1678574792 svg {
    position: relative;
    display: block;
    width: calc(205% + 1.3px);
    height: 341px;
}

.custom-shape-divider-top-1678574792 .shape-fill {
    fill: #111111;
}

// 
.custom-shape-divider-top-1678643507 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1678643507 svg {
    position: relative;
    display: block;
    width: calc(107% + 1.3px);
    height: 151px;
}

.custom-shape-divider-top-1678643507 .shape-fill {
    fill: #111111;
}
.borderBackgroundBot{
    background-color: #FFC823;;
}

//
.custom-shape-divider-bottom-1678646152 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1678646152 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 88px;
}

.custom-shape-divider-bottom-1678646152 .shape-fill {
    fill: #111111;
}
.wrapYellow{
    background-color: #FFC823;
}

//
.custom-shape-divider-bottom-1678654592 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1678654592 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 122px;
}

.custom-shape-divider-bottom-1678654592 .shape-fill {
    fill: #111111;
}
.backgroundYellow{
    background-color: #FFC823;
}