// Variables START
$offWhite: #f5f5f5;
$offBlack: #111111;
$offWhite2: #c9c9c9;
$grey: grey;
// Variables END

.openingBackGround{
    background-color: $offWhite;
}


// START FOR NAVBAR
.navbarProp{
    background-color: $offBlack;
    height: max(80%, 140px);
    text-align: center;
    vertical-align: bottom;
}
.navbarButton{
    color: $offWhite;
    font-size: max(3.2vw, 55px);
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navbar-dark{
    background-color: $offBlack!important;
}
.darky{
    background-color: $offBlack!important;
}
.rightNavButton{
    float: left;
}
.navbar-toggler{
    width: 75px;
    height: 75px;
    outline: none;
    border: none;
    margin: 25px;
    color: $offWhite;
    font-size: 50px;
}

// END OF NAVBAR



// START FOR NO SCROLL
.noScroll{
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.noScroll::-webkit-scrollbar {
display: none;
}
// END OF NO SCROLL



// FOR FOOTER ACROSS ALL PAGES START
.footer{
    background-color: #111111;
    left: 0;
    bottom: 0;
    width: 100%;
}       
#footerspace{
    height: max(3.5vw, 50px);
    
}
.footerIcons{
    height: max(1.5vw, 30px);
    width: max(1.5vw, 30px);
}
.iconSpacingFooter{
    padding-left: .25vw;
    padding-right: .25vw;
}
.footerOption{
font-family: acier-bat-solid, sans-serif;
font-weight: 400;
font-style: normal;
background-color: #111111;
}
.footerOptionText{
text-decoration: none;
color: grey;
text-underline-offset: var(--offset, 0.2em);
transition: --offset 800ms, text-decoration-color 800ms;
padding-left: 1vw;
padding-right: 1vw;
font-size: max(1vw, 15px);
background-color: #111111;
}
.footerOptionText:hover{
text-decoration: none;
text-decoration: underline;
color: grey;
}
.footerOptionText:link {
color: grey;
background-color: transparent;
text-decoration: none;
}
.footerOptionText:visited {
color: grey;
background-color: transparent;
text-decoration: none;
}
.footerOptionText:active {
color: grey;
background-color: transparent;
text-decoration: underline;
}
.footerOptionText:hover{
.footerOptionText:focus{
--offset: 0.4em;
text-decoration-color: white;
}
}
.footerOptionText:hover{
.footerOptionText:focus {
text-underline-offset: 0.4em;
}
}
.footerOptionList{
height: max(65%, 130px);
}
// END OF FOOTER 



// SECOND NAVBAR WITH OPTIONS START
.secondNav{
background-color: #111111;
height: max(2.5vw, 50px);
}
.secondNavTxt{
color: $offWhite;
font-family: articulat-cf, sans-serif;
font-style: normal;
font-weight: 100;
font-size: max(1.5vw, 35px);
padding-left: max(3vw, 30px);
padding-right: max(3vw, 30px);
}
.secondNavTxt:hover{
text-decoration: none;
color: #D72539;;
}
// END OF SECOND NAVBAR WITH OPTIONS START



// MAIN SCREEN START
.mainIMG{
height: max(43vw, 500px);
float: right;
}

.openingText{
// font-style: normal;
font-weight: 300;
font-family: 'Playfair Display', serif;
font-style: italic;
color: #D72539;
font-size: max(7vw, 37px);
text-decoration: none!important;
}
.openingHome{
 height: max(50vh, 800px);
}

// END OF MAIN SCREEN



// Home Screen Icons START
.homePhotos{
height: max(58vw, 375px);
background-color: #ffc823;
}
.boxContainer{
    background-color: #111111;
    border-radius: 25px;
}
.iconsHeadingText{
color: white;
text-align: center;
font-family: acier-bat-outline, sans-serif;
font-style: normal;
font-weight: 400;
font-size: max(7vw, 40px);
bottom: 0;
}
.bottomText{
text-align: center; 
color: $offWhite2;
font-size: max(1vw, 20px);
font-family: depot-new-web;
font-weight: 100;
font-style: normal;
transition: 1s;
text-decoration: none;
}

.bottomTextKeepUp{
    height: max(3vw, 50px);
    background-color: $offBlack;
}
// Home Screen Icons END



// JOB EXP. START
.workExpHeadingText{
color: black;
text-align: center;
font-family: acier-bat-solid, sans-serif;
font-style: normal;
font-weight: 700;
font-size: max(7vw, 35px);
bottom: 0;
}
.workExpBody{
height: max(52vw, 800px);
background-color: #f5f5f5;
}
.workNameTitle{
font-family: articulat-cf, sans-serif;
font-style: normal;
color: black;
font-size: max(2vw, 12px);
float: right;
}
.workNameTitle2{
    font-family: articulat-cf, sans-serif;
font-style: normal;
color: grey;
font-size: max(1vw, 12px);
float: right;
}
.workbodyText{
    font-family: depot-new-web, sans-serif; 
    font-weight: 400; 
color: black;
opacity: 80%;
font-size: max(1.5vw, 19px);
}
.companyLogo1{
    height: max(7vw, 30px);
    width: max(16vw, 75px);
    position: absolute;
}
.vertLine{
background-color: $offBlack;
border-radius: 5px;
}



// END OF WORK EXP.

// Contact Information

.contactTitle{
font-size: max(3vw, 25px);
font-family: acier-bat-solid, sans-serif;
color: $offBlack
}
.emailTitle{
    font-size: max(2vw, 18px);
    font-family: articulat-cf, sans-serif;
    color: $offBlack
}
.emailAddress{
    font-size: max(1.5vw, 16px);
    font-family: depot-new-web; 
    color: $offBlack
}
.emailAddress:hover{
    color: $offBlack;
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
}
a:visited{
    text-decoration: none;    
}
a:link{
    text-decoration: none;
}
.contactSocial{
    height: max(2vw, 30px);
    width: max(2vw, 30px);
    transition: 0.3s;
}

#leftsocial{
    float: right;
}
.WrapperIcon{
    padding-top: 4.25vw;
}

.contactBody{
    background-color: $offWhite2;
}