
// Thank you Manuel Pinto for the design
// CREDIT:
// https://codepen.io/P1N2O/pen/pyBNzX

.openingScreenBackGround1{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient1 15s ease infinite;
}

@keyframes gradient1 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.openingScreenBackGround2{
	background: linear-gradient(-180deg, #2FBBEE, #23A6D5, #299CC6);
	background-size: 400% 400%;
	animation: gradient2 7s ease infinite;
}

@keyframes gradient2 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#textRef1{
	color:#008000;
	text-decoration: none;
}
#textRef1:hover{
	text-decoration: underline;
}
#textRef2{
	color: #0071BB;
	text-decoration: none;
}
#textRef2:hover{
	text-decoration: underline;
}


// 