@font-face {
  font-family: titleFont;
  src: url(../font/TT\ Ramillas\ Initials\ Trial\ Bold.ttf);
}

.worksHeader{
   font-weight: 300;
   font-family: 'Playfair Display', serif;
  color: #D72539;
  font-size: 5vw;
  font-style: italic;
}
.worksHeaderWrapper{
    text-align: center;
  font-style: normal;
}
.headerPoints{
  font-family: titlefont;
font-style: normal;
font-weight: 300;
color: #FFC823;
font-size: max(2vw, 20px);
}

.worksIcon{
  width: max(19vw, 35px);
   display: block;
  border-color: #D72539;
  border-width: 4px;
  border-style: solid;
      transition: 0.5s;
      border-radius: 10px;
}
.worksIcon:hover{
  width: max(18vw, 20px);
}
.worksIconWrapper{
  padding: 15px;
}
.bodyWrapper{
    --bs-gutter-x: 0rem!important;
}
.IMG-Photos{
  height: max(22vw, 70px);
}
.descriptionTxt{
  font-family: articulat-cf, sans-serif;
font-style: normal;
font-weight: 300;
  color: #c9c9c9;
  font-size: max(1.5vw, 15px);
}
.longBodyWrapping{
  border-radius: 15px;
  border: 10px;
  background-color: #111111;
}

/*  */
.custom-shape-divider-bottom-1678803667 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1678803667 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 71px;
}

.custom-shape-divider-bottom-1678803667 .shape-fill {
  fill: #111111;
}
/*  */

.custom-shape-divider-top-1678804430 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1678804430 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 90px;
}

.custom-shape-divider-top-1678804430 .shape-fill {
  fill: #111111;
}
/*  */

